body
{
    background-color: #505050;
}

#conteneur
{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;

}

header
{
    display: flex;
    background-color: #909090;
    justify-content:space-between;
    margin: 20px 0 30px;
}

#ou
{
    margin: 10px;
    width: 30%;
    height: 30%;
}

#close_reload
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#close_reload  img
{
    width: 30px;
    margin: 10px;

}

#loupe
{
    position: relative;
    margin: auto;
    left: 26%;
    top: 20px;
    width: 320px;
}

section
{
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: auto;
}

#left
{
    background-color: #909090;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    overflow: hidden;
}

#center
{
    background-color: #909090;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 30px 20px;
    height: 850px;
}
#center img
{
    margin: auto;
    width: 98%;
    height: 96%;
}

#right
{
    background-color: #909090;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#left > img
{
    width: 100px;
    margin: 10px;
}

#right > img
{
    width: 100px;
    margin: 10px;
}

#oeil
{
    border: solid 8px red;
    border-radius: 10px;
}

#brick
{
    background: repeat url("resources/brick.jpg");
    background-size: 40px;
    width: 76%;
    height: 90px;
}

header, #left, #center, #right, #chat
{
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

#left, #right
{
    width: 9%;
    padding: 10px 0 10px 0;
    height: 600px;
}

#chat
{
    position: absolute;
    top: 980px;
    left: 200px;
    background-color: #48FF79;
    padding: 20px 50px 80px 10px;
    width: 24%;
}

#chat p
{
    font-family: Arial;
    font-size: 1.5em;
    margin: 0;
}

#chat p:nth-child(2)
{
 font-style: italic;
}

#chat strong
{
    font-family: Times;
    font-size: 1.6em;
    letter-spacing: 1px;
}
input[type="text"]
{
    width: 510px;
    margin: 0 5px 0 5px;
}

input[type="button"]
{
    font-size: 30px;
    width: 80px;
}